HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files

!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env

# ==========================================
# Postman Ignore Rules
# ==========================================

# Bỏ qua thư mục cấu hình ẩn của Postman (Thường sinh ra khi dùng extension trên VS Code)
.postman/

# Bỏ qua các file Export dữ liệu của Postman (Collections và Environments)
*.postman_collection.json
*.postman_environment.json
*.postman_globals.json

# Bỏ qua các file log hoặc dump dữ liệu tạm thời của Postman
postman/logs/
postman/dump.json

