.avatar_ico{
    cursor: pointer;
    width: 36px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 2px solid #00ff4c;
    overflow: hidden;
    display: inline-flex;
}
.sign_container{
    display: inline-flex;
    align-items: center;
}